nav
    a(href="/") 
        image(src="/public/images/logo-default.svg", width="200px", height="50px")
    ul
        li About
        li
            a(href="/") Home
        li
            a(href="/chat") Chat
        li
            a(href="/meeting") Meeting
        li.profile


script(src="/public/js/header.js") 
